.ReactModalPortal > div {
    opacity: 0;

}
.ReactModalPortal .ReactModal__Overlay{
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity:1 ;
}
.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity:0 ;
}
.modal{
    border-radius: 10px;
    background: white;
    color:black;
    font-weight: bold;
    max-width: 60rem;
    max-height: 60rem;
    outline: none;
    padding: 10px;
    text-align: center;
}

.modal__body{
    font-size: 3rem;
    font-weight: 300;
    margin: 0 0 10px 0;
    word-break: break-all;
}
.closeButton{
        font-size: 18px;
        height: 30px;
        width: 100px;
        border-radius: 10px;
        border: none;
        box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
        background: wheat;
         cursor: pointer;
}